body {
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

.imageLogo {
  width: 13%;
}

.imageFundoPerfil {
  width: 100%;
  height: 200px;
}

.imagePerfil {
  width: 100px;
}

.imageAuthor {
  width: 20px;
}

.imageLogin {
  width: 100%;
}

.homeCard {
  width: 250px;
  min-height: 330px;
}

.titleError {
  font-size: clamp(1em, 1vw + 7rem, 10em)
}

@media (max-width: 768px) {
  .imagePerfil {
    width: 65px;
  }

  .imageFundoPerfil {
    height: 270px;
  }

  .perfilCardBody {
    justify-content: center;
  }

  .perfilCardBody div:last-child {
    margin-left: 0 !important;
  }
}

@media (max-width: 575px) {
  .divImageHome, .imageLogin, .imageRegister {
    display: none;
  }
}

@media (max-width: 555px) {
  .homeCard {
    width: 220px;
    min-height: 304px;
  }
}