<%- include('../partials/header') %>
<%- include('../partials/nav') %>
  <div class="container">
    <div class="row text-center justify-content-md-center mt-5">
      <h1>Bem Vindo ao Blog App!</h1>
      <p class="mt-1 mb-4 fw-medium">Leia, Comente e Compartilhe Posts Interessantes.</p>
      <div>
        <img class="w-75 img-fluid rounded" src="./images/website-home.png" alt="">
      </div>
      <div class="buttons mt-4">
        <a class="btn btn-primary w-25" href="/register">Cadastre-se</a>
        <a class="btn btn-primary w-25" href="/login">Login</a>
      </div>
    </div>
  </div>
<%- include('../partials/footer') %>