<nav
  class="navbar navbar-expand-lg bg-primary-subtle border-bottom border-body p-3"
  data-bs-theme="dark"
>
  <div class="container-fluid">
    <a class="navbar-brand fw-semibold" href="/">
      BlogApp!
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav fw-semibold align-items-center justify-content-center gap-3 flex-fill">
        <li class="nav-item">
          <a class="nav-link d-flex align-items-center text-light link-body-emphasis" href="/">
            Home
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link d-flex align-items-center text-light link-body-emphasis" href="/posts">  
            Explorar
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-light link-body-emphasis" href="/about">Sobre</a>
        </li>
      </ul>
      <ul class="navbar-nav fw-semibold align-items-center gap-3 flex-shrink-0">
        <% if (typeof user === "undefined" || user === null) { %>
          <li class="nav-item">
            <a class="btn btn-outline-primary text-light" href="/login">Login</a>
          </li>
          <li class="nav-item">
            <a class="btn btn-primary text-light" href="/users/register">Cadastrar-se</a>
          </li>
        <% } else { %>
          <li class="nav-item">
            <a class="btn btn-primary text-light" href="/users/<%= user.id %>">
              Perfil
            </a>
          </li>
          <li class="nav-item">
            <a class="btn btn-outline-primary text-light" href="/logout">
              Sair
            </a>
          </li>
        <% } %>
      </ul>
    </div>
  </div>
</nav>
